body{
    color:#6d737d; 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}  


.container{
    margin: 0 auto;
    width: 90%;
} 

.clearfix{
    clear: both;
} 
/**************************************
        HEADER
***************************************/

header{
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
} 

header::before{
    content:"";
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    
}

.logo{
    float: left;
    position: relative;
    z-index: 2;
    color: #fff;
} 

.logo span{
    color:#28bbea; 
} 

.menu_principal ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
    float: right;
    list-style-type: none;
    color:#fff; 
    position: relative;
    z-index: 3;
    padding: 20px;
} 


.menu_principal ul li a {
   text-decoration: none;
   text-transform: uppercase;
   color:#fff;
   font-size: 14px;
} 


.text_intro{
    color:#fff;
    text-align: center;
    width: 40%;
    position: relative;
    z-index: 4; 
    margin: 0 auto;
    vertical-align: middle;
    top: 30vh;
    line-height: 35px;
} 



.text_intro h2{
    font-size: 44px;
} 

.call_action{
    background:#424242;  
    border: none;
    padding:15px 30px;
    color:#fff;
    text-transform: uppercase; 
} 

/************************************
        Main
************************************/


.text_about{
    text-align: center;
    width: 35%;
    line-height: 30px;
    padding: 80px 0 80px 0;
} 

.text_about h2{
    font-size: 38px;
    color:#222; 
} 


section{
    display: flex;
    justify-content: space-around;
}

.box_info{
    width: 25%;
    border: 1px solid #656565; 
    text-align: center;
    padding: 40px;
    margin-bottom: 50px;
    line-height: 40px;
} 

.box_info h3 {
	color:#222; 
}

.info_counter {
	background: url('../img/home.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 5%;
}

.info_counter .counter {
	display: inline-table;	
	width: 23%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
}
