body{
    color:#6d737d; 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}  


.container{
    margin: 0 auto;
    width: 90%;
} 

.clearfix{
    clear: both;
} 
/**************************************
        HEADER
***************************************/

header{
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
} 

header::before{
    content:"";
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, .7);
    
}

.logo{
    float: left;
    position: relative;
    z-index: 2;
    color: #fff;
} 

.logo span{
    color:#28bbea; 
} 

.menu_principal ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
    float: right;
    list-style-type: none;
    color:#fff; 
    position: relative;
    z-index: 3;
    padding: 20px;
} 


.menu_principal ul li a {
   text-decoration: none;
   text-transform: uppercase;
   color:#fff;
} 


.text_intro{
    color:#fff;
    text-align: center;
    width: 35%;
    position: relative;
    z-index: 4; 
    margin: 0 auto;
    vertical-align: middle;
    top: 30vh;
    line-height: 35px;
} 



.text_intro h2{
    font-size: 44px;
} 

.call_action{
    background:#424242;  
    border: none;
    padding:15px 30px;
    color:#fff;
    text-transform: uppercase; 
} 

